* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
}

img {
  height: 20px;
}

.left-section {
  background-color: #455A64;
}

.right-section {
  background-color: #CFD8DC;
}

form {
  display: flex;
  flex-direction: column;
}

.form-items {
  padding: 20px;
  margin: 20px;
}






























/* * {
  box-sizing: border-box;
  border: 1px solid red;
  margin: auto;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #455A64;
  height: 100vh;
  width: 50%;
}


.right-section {
  background-color: #CFD8DC;
  float: right;
  height: 100vh;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

.form-items {
  padding: 20px;
  margin: 20px;
}

img {
  height: 20px;
} */